<%- include('partials/header'); -%>
  <div class="container">
    <div class="global">
      <h1>Thế Giới</h1>
      <h3>Số ca nhiễm : &nbsp&nbsp<%= casesG %></h3>
      <h3>Số người chết : &nbsp&nbsp<%= deathsG %></h3>
      <h3>Số người khỏi bệnh : &nbsp&nbsp<%= reG %></h3>
    </div>
    <div class="vietnam">
      <h1>Việt Nam</h1>
      <h3>Số ca nhiễm       : &nbsp&nbsp<%= casesVN %></h3>
      <h3>Số người chết     : &nbsp&nbsp<%= deathsVN %></h3>
      <h3>Số người khỏi bệnh : &nbsp&nbsp<%= reVN %></h3>
    </div>
  </div>
<%- include('partials/footer'); -%>